*{ 	 <link href="https://allfont.es/allfont.css?fonts=montserrat" rel="stylesheet" type="text/css" />
  font-size:medium;

	font-family: 'montserrat';	
	text-align: center;
	justify-content: center;	

}
.container-fluid{
	background: rgb(61,75,41);
	width: 100%;
	height:750px;
}
.card{
	text-align: center;
	justify-content: center;	
	width: 100%;
	height: 100%;
	padding: 5px;
	background:#9A8B56;

}.col-xs-5col-md-4col-lg-2,.col-xs-5col-md-4col-lg-3{
	margin:0;
	padding: 0;
}
#nav-b{
	background: rgb(61,75,41);
}
.container-fluid0{
	margin-top:60px;
	margin-bottom: 60px;


}#texto{
	padding-top: 40px;
	box-shadow: 16px 16px 56px  rgb(61,75,41); /*sombra del registro*/
	background: rgba(0, 0, 0, 0.7); 	
	margin-top:100px;
}h4{
	color:#9A8B56;	

}.card-body{
	background:rgb(61,75,41);
	color:black;
}#ver{
	background:black;
	color:#9A8B56;
	border: 1px solid #9A8B56;
}
#ver:hover{
	font-size: 1.2em;
  	color: #fff;
}
.page-item{
	background:black;
	color:#9A8B56;
	border: 1px solid #9A8B56;
}
.page-item:hover{
	font-size: 1.2em;
  	color: #fff;
}
.card-img-top:hover{
	border: 2pt solid #9A8B56;
	padding: 0;
	border-radius: 10%;
	transform: scale(1.2);
}
p,address{
	justify-content: center;
	color: #9A8B56;
}#footer{
	margin: auto;
	width: 100%;
	height: 100%;
	padding-top:10px;
}.container{
	padding: 0;
	margin: auto;
}.RS{
	width:100px;
	height:100px;
	border-radius: 50%;
	padding: 10px;
}.RS:hover{
	width:100px;
	height:100px;
	border: 1pt solid rgb(61,75,41);
	padding: 0;
	border-radius: 50%;
	transform: scale(0.99);
}.row{

  width: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}#CR{
	width:200px;
	height:200px;
	justify-content: center;
	text-align: center;
	padding: 0px;
	padding-bottom: 10px;
}#W,#F,#I{
	width: auto;
	display: flex;
	text-align: center;
	justify-content: left;
	padding-bottom: 10px;
}#r{
	padding-top:100px;
	color:rgb(165,146,89);
	text-align: center;
	width:100%;
	height:100%;
}#l{
	padding-top:100px;
	color:rgb(165,146,89);
	text-align: center;
	width:100%;
	height:100%;
}#c{
	text-align: center;
	width:100% ;
	height:200px;
}a{
	color:rgb(165,146,89);
}.container-portada{
	width:100%;
	height:100%;
	background-image:url(../img/panda.jpg);
	background-size:100%;
	
}.pagination{
  background: red;
}

