
*{ <link href="https://allfont.es/allfont.css?fonts=montserrat" rel="stylesheet" type="text/css" />

	font-family: 'montserrat';		
}p,address{
	justify-content: center;
	color: #9A8B56;
}#footer{
	margin: auto;
	width: 100%;
	height: 100%x;
	padding-top:10px;
}.container{
	padding: 0;
	margin: auto;
}.RS{
	width:100px;
	height:100px;
	border-radius: 50%;
	padding: 10px;
}.RS:hover{
	width:100px;
	height:100px;
	border: 1pt solid rgb(61,75,41);
	padding: 0;
	border-radius: 50%;
	transform: scale(0.99);
}#CR{
	width:100%;
	height:150px;
	justify-content: center;
	text-align: center;
	padding: 0px;
	padding-bottom: 10px;
}.container-fluid{
  background: rgb(61,75,41);
  width: 100%;
  height:750px;
}.row{

  width: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}#CR{
  width:200px;
  height:200px;
  justify-content: center;
  text-align: center;
  padding: 0px;
  padding-bottom: 10px;
}#W,#F,#I{
  width: auto;
  display: flex;
  text-align: center;
  justify-content: left;
  padding-bottom: 10px;
}#r{
  padding-top:100px;
  color:rgb(165,146,89);
  text-align: center;
  width:100%;
  height:100%;
}#l{
  padding-top:100px;
  color:rgb(165,146,89);
  text-align: center;
  width:100%;
  height:100%;
}#c{
  text-align: center;
  width:100% ;
  height:200px;
}a{
	color:rgb(165,146,89);
}.container-portada{
	width:100%;
	height:490px;
	background-image:url(../img/panda.jpg);
	background-size:100%;
	-webkit-animation: movimiento 50s infinite linear alternate;
}@keyframes movimiento{
    from{background-position: bottom ;}to{background-position: top;}
}.login {
	width: 100%;
	padding: 10px;
}.login * {
 	font-family: 'montserrat';
  	transition: 200ms all ease-in-out;}
.login-contenedor {
	width: 300px;
	height: 460px;
	position: relative;
	margin: auto;
	border-radius: 20px;
	box-shadow: 16px 16px 56px rgba(0, 0, 0, 0.3); /*sombra del registro*/
	background: rgba(0, 0, 0, 0.7); 				/*sombreado negro del registro*/
	display: flex;
	flex-direction: column;
	overflow: hidden;

}.login-encabezado {
  width: 100%;
  height: 60px;
  border-radius: 20px 20px 0 0;
  display: flex;
}.login-encabezado a {
  display: block;
  width: 50%;
  height:60px;
  float: left;
  text-align: center;
  font-family: 'montserrat';
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 9px 0px 0px;
}.login-encabezado a:hover {
  opacity: 1;
  color: white;
  background: rgb(61,75,41);
}a.acceder, a.registrarse {
  background: black; 
}a.acceder {
  padding-top: 20px;
}a.acceder.modo-activo,a.registrarse.modo-activo {
  font-size: 1.3rem;
}a.acceder.modo-activo, a.registrarse.modo-activo {
    background: transparent;
    width:65%; height:65px;
}.login hr {
  width: 75%;
  margin-top: 5px;
  opacity: 1;
  background: rgb(61,75,41);
}.login .login-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}.login .formulario, .login .login-footer {
  display: flex;
  flex-direction: column;
}.login .login-footer {
  align-items: center;
}.login .formulario input[type="text"], .formulario input[type="password"] {
  border-radius: 21px;
  padding: 15px;
  margin-top: 35px;
  padding-left:50px;
  height: 20px;
  border: 1px solid #9A8B56;
  color: #9A8B56;		/*color letra contraseña y correos*/
}.login .formulario input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 2px 21px 2px #9A8B56;
  background: #000 url("https://secure.canon.com.au/Content/images/account.svg") no-repeat left;
  padding: 24px 15px 15px 50px;
}.login .formulario input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 2px 21px 2px #9A8B56;
  background: #000 url("https://secure.canon.com.au/Content/images/password.svg") no-repeat left;
  padding: 24px 15px 15px 50px;  
}/*iconos contraseña y usuario*/
.login .formulario input[type="text"] {
  background: url("https://secure.canon.com.au/Content/images/account.svg") no-repeat left;
 }
 .login .formulario input[type="password"] {
  background: url("https://secure.canon.com.au/Content/images/password.svg") no-repeat left;
  margin-top: 25px;
 }.login .confirmar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 15px 30px;
}.login .confirmar * {
  cursor: pointer;
}#registrarse .enviar{
    cursor: pointer;
}.login label {
  -webkit-user-select: none;
  color: #fff;
  font-size: .8em;
  padding-left: 10px;
  font-weight: 300;
}.login .login-boton {
  margin-bottom: 40px;
}.login .enviar {
  background-color: #9A8B56;
  border: none;
  padding: 12px 60px;
  border-radius: 40px;
  color: black;
}.login .enviar:hover, .login .enviar:focus {
  background-color: #000;
  color: #9A8B56;
  outline: none;
}.login .enviar:focus {
  box-shadow: inset 2px 2px 2px #9A8B56; /*pone sombreado al presionar iniciar sesion o registrarse*/
}.login .clave-olvidada {
  color: #fff;
  text-decoration: none;
  font-size: .8em;
  font-weight: 300;
  padding-top: 15px;
}.login .clave-olvidada:hover {
  font-size: 0.9em;
  color: #fff;
}#logearse.animated,
#registrarse.animated {
  -vendor-animation-delay: 200ms;
  -vendor-animation-iteration-count: infinite;
}.login .modo-mostrar {
  display: block;
}.login .esconder {
  display: none;
}.login .modo-activo {
  opacity: 1 !important;
  transition-delay: 200ms all ease-in-out;
}/* para float label */
.login form {
  max-width:25em;
  width:95%;
}.login form ul {
  padding:0;
}.login form li {
  list-style:none;
  position:relative;  
}.login span {
position: absolute;
color:transparent;
opacity:1;
top: 40px;
left: 50px;
font-size: 0.7rem;
-webkit-transition: .333s ease top, .333s ease opacity;
transition: .333s ease top, .333s ease opacity;
}.js-hide-label span {
    opacity: 0; 
    top: 1.5em;
}.login-contenedor{
    display: flex;
    justify-content: left;
}

